.product-detail {
  margin: 3rem !important;
}

.box img{
  /* border: solid 1px; */
  padding-top: 15px;
  padding-bottom: 15px;
}

.product-detail .photo-button:hover {
  text-decoration: none;
  background-color: #1a3297;
  z-index: 200;
  color: #fff;
  width: 100%;
}


.product-detail .photo-button {
  font-family: Graphik,Arial,Helvetica Neue,Helvetica,sans-serif;
  font-style: normal;
  font-weight: 400;
  text-transform: uppercase;
  font-size: .88889em;
  transition: all 80ms cubic-bezier(.645,.045,.355,1);
  font-style: none;
  font-size: .889rem;
  background-color: rgb(23, 72, 172) ;
  overflow: hidden;
  position: relative;
  padding: .5rem 1.16667em;
  margin: 0 0 .7rem;
  line-height: 1.83333;
  display: block;
  text-decoration: none;
  text-align: left;
  z-index: 100;
  cursor: pointer;
  border-radius: 6px;
  color: #fff;
  width: 100%;
}

.list-group .font-style {
  font-size: 16px;
  padding: 0.75rem 1.25rem 0.3rem 1.25rem;
}

.list-group .list-group-item .product-name{
  font-size: 20px;
  font-weight: 600;
}

.list-group .list-group-item span{
  font-size: 18px;
  font-weight: 400;
}

.list-group .list-group-item .detail-button{
  width: 45%;
  display: inline-block;
  float: left;
}

.list-group .list-group-item .detail-button:hover {
  width: 45%;
  display: inline-block;
  float: right;
}

.tab-menu {
  margin: 0.7rem 0;
}

.tab-meunu .content{
  border-top: 0;
  padding: 20px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  margin-bottom: 40px;
  font-weight: 400;
  border-radius: 0 0 5px 5px;

}

.nav-pills .color-style.active, .nav-pills .show > .color-style {
  background-color: rgb(23, 72, 172);
  color: #fff;
}

.flex-item{
  flex-basis: 33%;
}

.flex-main-item{
  flex-basis: 66%;
}

img {
  border-radius: 6px;
}

.content {
  border-radius: 0 0 5px 5px;
    border-top: 0;
    padding: 20px;
    margin-bottom: 40px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.description {
  font-size: 1.5rem;
} /*
.carousel .thumb.selected, .carousel .thumb:hover {
  border: none;
  padding: 2px;

}

.thumb.selected .img-carousel {
  opacity: 0.7;
}
@media screen and (min-width: 800px) {

.carousel.carousel-slider {
  height: 570px;
} */

.image-gallery-thumbnail.active {
  border: none;
  opacity: 0.7;
}



.image-gallery-left-nav:hover::before,
.image-gallery-right-nav:hover::before {
  color: #fff!important; }




.carousel .thumb {
  border: none;
  /* width: 130px; */
}




.input-group .input-group-prepend span {
  line-height: 2;
}
.input-quantity {
  border-radius: 15px;
  padding-left: 15px;
  font-size: 20px;
  width: 15%;
}
.paragraph{
    white-space: pre-wrap;
}