.form-control {
    display: inline!important;
}

.card.border-cart {
    border-radius: 0px;
    border-top: none;
    border-bottom: 0.5px solidrgba(226, 222, 222, 0.233)n!important;
    border-left:none;
    border-right: none;

}

.form-control {
    -webkit-box-shadow: none!important;
    box-shadow: none!important;

}
.text-danger{
    display: block!important;
}
.img-thumbnail {
    border: none
}

ul {
    list-style-type: none;
}

ul li {
    display: inline;
}

.equal-margin {
    margin-top: 0.85rem;
}

.position {
    position: absolute;
    transform: translate(-15.5%, 50%);
}
.p-custom {
    padding-left: 1.2rem;
}

.btn-position {
    margin-top: 5rem;

}