.z-index-menu{
    z-index: 999999999!important;
}
.mt-overlay {
    margin-top: 100px;
}
.low-z-index {
    position: relative;
    z-index: -10000!important;
}
.navbar-blue {
    background-color: #54ceff!important
}
.paragraph{
    white-space: pre-wrap;
}

.form-control {
    -webkit-box-shadow: none!important;
    box-shadow: none!important;
}

.full-page-img {
    background-image: url('https://www.w3schools.com/w3css/img_lights.jpg'); 
    background-repeat: no-repeat; 
    background-size: cover;
}
a:focus,
button:focus,
input:focus,
textarea:focus {
outline: none;
}

#root {
   height: 100%;
}

  .top-nav-collapse {
    background-color: #54ceff; 
}
  
  /* Adding color to the Navbar on mobile */
  /* @media only screen and (max-width: 768px) {
    .navbar {
        background-color: #54ceff; 
    
    } } */
    .link-up-size {
        font-size: 1.2rem;
    }

        @media (min-width: 800px) and (max-width: 850px) {
          .navbar:not(.top-nav-collapse) {
              background: rgba(0, 0, 0, 0.2)!important;
          }
      }


      .col-responsive {
        width: 90%;
        height: auto;
    }
    
    @media (min-width: 576px) {
        .col-responsive {
            width: 76%;
        }
    }
    
    @media (min-width: 768px) {
        .col-responsive {
            width: 55%;
        }
    }
    
    @media (min-width: 922px) {
        .col-responsive {
            width: 45%;
        }
        }
        
    
    @media (min-width: 1200px) {
        .col-responsive{
            width: 40%;
        }
    }

       
.form__button {
    width: 100%;
    margin-left: 0px!important;
    margin-right: 0px!important;
    padding: 0px;
    height: 50.88px;
}

.form__button p {
    margin: 15px 0 1em;
}

.form__button-google {
    background: #397AF2 !important;
    width: 100%;
    margin: 0;
}

.button__icon {
    font-size: 50px !important;
    margin: 0 5px;
    float: left;
}

.register-form__login {
    margin-top: 10px;
    display: flex;
    justify-content: center;
}

.w-89 {
    width: 89%;
}