.box {
    position: relative;
    bottom: 0px;

}

.equal-height {
    flex: 1;
    padding: 16px;
}


.moveInE {
    animation-name: moveInBottom;
    animation-duration: 0.5s;
    animation-timing-function: ease-out;
    animation-fill-mode: backwards;
}
@keyframes moveInBottom {
    0% {
        opacity: 0;
        transform: translateX(100px);
    }

    80% {
        transform: translateX(-10px);
    }

    100%{
        opacity: 1;
        transform: translate(0);
    }
}
