.card.card-single {
    margin-top: 15px;
    margin-bottom: 15px;
    -webkit-transition: 0.3s all;
    transition: 0.3s all;
    background-color: #fff;
}

.card.card-single:hover {
    -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    -webkit-transform: translateY(-4px);
    -ms-transform: translateY(-4px);
    transform: translateY(-4px);
}

.card.card-single .card-thumb {
    position: relative;
    margin: 1.25rem;
}

.card.card-single .card-thumb>img {
    width: 100%;
    border-radius: 3px;
}


.card.card-single:hover .card-thumb:after {
    opacity: 0.7;
    visibility: visible;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}


.card.card-single .card-body .card-info {
    width: 50%;
}

.card-body{
    height: 3rem!important;
}

.card.card-single .card-body .card-info p {
    font-size: 16px;
    line-height: 0.5rem;
    font-weight: 400;
}

.card.card-single .card-body .card-cart{
    width: 20%;
}

.card.card-single .card-body .card-cart a i{
    color: #747373;
    font-size: 2rem;
    font-weight: 400;
}


.box {
    position: relative;
    bottom: 0px;

}
.equal-height {
    flex: 1;
    padding: 16px;
}

a {
    color: rgb(50, 48, 48)
}
a:hover {
    color: rgb(50, 48, 48);
}