.darken-theme {
    position: relative;
}
@media (min-width: 1113px){
.mx-shop {
    margin-right: 8rem;
    margin-left: 8rem;

}
.mx-project {
    margin-right: 8rem;
    margin-left: 8rem;

}
}
.transform__home__button{
    /* top: 40%; */
    bottom: 35%;
    /* transform: translate(0%,-100%) */
}


.darken-theme:after {
    content: '';
    position: absolute;
    top:0;
    bottom:0;
    left:0;
    right: 0;
    display: block;
    background-color: rgba(0,0,0,0.1);
}
html,
body {
  height: 100%; }


.carousel-footer {
    position: absolute;
    right: 0;
    bottom: 10px;
    left: 0;
    z-index: 15;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    padding-left: 0;
    margin-right: 15%;
    margin-left: 15%;
    list-style: none;
}
/* 
.carousel__home {
    height: 100%;
    width: 100%; 
}

    .carousel__home .carousel-inner {
      height: 100%; 
      width: 100%; 
    }
      .carousel__home .carousel-inner .carousel-item,
      .carousel__home .carousel-inner .active {
        height: 100%; 
        width: 100%; } */