
.catalogies-position {
    position: relative;
}
@media (min-width: 768px) {

.position__catalogies {
    position: absolute;
    right: 15%;
   bottom: 20px;
    left: 15%;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #fff;
    text-align: center;
}

}

@media only screen and (min-width: 768px) {
    .mx-gt-768px {
        margin-left: 1000px
    }
}
/* 
@media (min-width: 1200px) {
    .transform_filter {
        transform: translate(0%, 27rem);   
        position: absolute;
        width: 70rem;
        color: #fff;
    }
} */

.responsive-text-catalogies {
    font-size: 3rem
}

/* @media (min-width: 768px) {
    .responsive-text-catalogies {
        font-size: 3rem
    }
} */
