

.position__catalogies {
    top: 0;
    /* bottom: 0; */
}

/* @media (min-width: 1200px) {
    .transform_filter {
        transform: translate(0%, 27rem);   
        position: absolute;
        width: 70rem;
        color: #fff;
    }
} */
